<div class="form-width">
  <form class="search-form">
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Options</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox>Available at this time</mat-checkbox>
  </form>
</div>