<div class="form-width">
  <form class="search-form">
    <mat-form-field appearance="fill">
      <mat-label>{{"app.address" | translate}}</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"app.option" | translate}}</mat-label>
      <mat-select name="optionSelection" [(ngModel)]="selectedOptions" multiple>
        <mat-option *ngFor="let option of options" [value]="option">{{option | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox>{{"app.currentlyOpen" | translate}}</mat-checkbox>
  </form>
</div>